@import '../_globalvariables.scss';

// filepicker
input[type='file'] {
  display: none;
}

.file-upload-field {
  // Display

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    padding: 6px 12px;

    cursor: pointer;
    border: 1px dashed #BDBDBD;

    svg {
      height: 60px;
    }
}

.file-upload-field:hover {
  background: white;
    svg {
      color: $accent_color1;
    }
}

.filepicker-wrapper {
  margin: 5vh auto;
}
