@import '../fonts';
@import '../globalvariables';

header {
  // position: relative;
}

nav {
  // make nav unselectable. Not sure if needed
  // -webkit-tap-highlight-color: transparent;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

  // width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  overflow: hidden;
  pointer-events: none;
  right: 0;
  top: 1em;
  padding-left: 1em;
}

.nav-item {
  pointer-events: all;
  background: $bg-color;
  color: white;
  width: auto;
  z-index: 9;
  font-family: 'BigNoodleTitling';
  padding-left: 0.5em;
  padding-right: 1em;
  font-size: 2em;
  transition: all .3s ease-in-out;
}

.nav-sub-item {
  margin-top: 0.5em;
  min-width: 150px;
  max-width: 250px;
  color: white;
}

.nav-logo {
  font-size: 3em;
  max-width: 330px;
}

.nav-item:hover {
   background: white;
   color: $bg-color;
   box-shadow: -5px 0px $tinder-static, -10px 0px $spotify, -15px 0px $facebook;
}

// // only the menu button shows
// .nav-normal {
//    transform: translateX(13vw);
// }

// // all of nav is opened, triggered by click
// .nav-expand {
//   transform: translateX(0vw);
// }

// whole nav bar is off to the side
.nav-hidden {
  transform: translateX(100%);
}
