@import '../_globalvariables.scss';
.report-heading {
   // display: flex;
   // flex-direction: column;
   // flex-wrap: wrap;
   width: 80%;
   margin: 5vh auto;
   background: white;
   box-shadow: 0 0 3px #ccc;
   -moz-box-shadow: 0 0 3px #ccc;
   -webkit-box-shadow: 0 0 3px #ccc;
   display: grid;
   grid-template-areas: 
    'heading heading'
    'content content'
}

.report-heading-title {
  grid-area: heading;
  padding: 0 1rem;
   // display: flex;
   // flex-direction: row;
   // width: 100%;
}

// .report-heading-title > * {
//    // flex: 1;
// }

.report-heading-user-name {
   border-bottom: 1px solid $facebook;
   padding-left: 3vh;
}

// .report-heading-user-picture {
//    height: 100px;
//    width: 100px;
//    // background: $facebook;
//    // background: url('../images/icons/facebook.svg');
// }

.report-heading-content {
  grid-area: content;
  margin-bottom: 3vh;
}

.heading-content-item {
  display: grid;
  grid-template-columns: auto 0.5fr 1fr;
  align-items: center;
}

.heading-content-icon {
   width: 24px;
   height: 24px;
   padding-left: 3rem;
}

.heading-content-label {
  padding-left: 1rem;
}

.heading-content-text {
   // flex: 0.7;
   // text-align: left;
   // margin: 0 1vh;
}

.report-controls {
   display: flex;
   flex-direction: row;
   flex-basis: 40%;
}

.report-button {
   flex: 1;
   background: black;
   color: white;
   text-decoration: none;
   border: none;
   transition: all .2s ease-in-out;
   font-family: 'BigNoodleTitling';
   font-size: 3vh;
   font-weight: bold;
   margin: 0.1vh 0vh;
}

.report-button:hover {
   box-shadow: 0px 5px $facebook, 0px 10px $spotify, 0px 15px $tinder-static;
   background: white;
   color: black;
}
// END NEW
