@import '../_globalvariables.scss';

.subreport {
   width: 90%;
   margin: 5vh auto;
   background: white;
   box-shadow: 0 0 3px #ccc;
   -moz-box-shadow: 0 0 3px #ccc;
   -webkit-box-shadow: 0 0 3px #ccc;
   display: grid;
   grid-template-areas: 
    'heading heading'
    'content content'
    'graphs graphs'
}

.subreport-title {
  grid-area: heading;
  padding: 0 1rem;
}

.subreport-title-text {
   border-bottom: 1px solid #151515;
   padding-left: 3vh;
}

.subreport-content {
  grid-area: content;
  margin-bottom: 3vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

.report-item-text {
  font-weight: 700;
}

.report-raw {
    grid-column: 1 / -1;
    align-self: start;
    width: 90%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: grey;

    @media screen and (min-width: $screen-md-min) {
      width: 80%;
    }
}

.report-item-above {
  display: grid;
  grid-template-columns: auto 0.5fr 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
}

.report-list {
  columns: 2;
  grid-column: 1 / -1;
  align-self: start;

  @media screen and (min-width: $screen-md-min) {
    columns: 3;
  }

  @media screen and (min-width: $screen-lg-min) {
    columns: 4;
  }
}

.report-item-grid {
  display: grid;
  grid-template-columns: auto 0.5fr auto 1fr;
  align-items: center;
}

.report-item-big-icon-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  @media screen and (min-width: $screen-md-min) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $screen-lg-min) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.report-item-big-icon {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 50%;
  grid-template-areas: 
    'icon icon'
    'text tooltip'
}

.report-item-icon-big {
   width: 66px;
   height: 66px;
   grid-area: icon;
}

.tooltip-start {
  grid-area: tooltip;
  justify-self: start;
  padding-left: 0.5em;
}

.report-item-text-icon-big {
  grid-area: text;
  justify-self: end;
}

.report-item-icon {
   width: 24px;
   height: 24px;
}

.report-item-label {
  padding-left: 1rem;
}

.heading-item-raw {
  overflow: auto;
  max-width: 50%;
}

.report-controls {
   display: flex;
   flex-direction: row;
   flex-basis: 40%;
}

.report-button {
   flex: 1;
   background: black;
   color: white;
   text-decoration: none;
   border: none;
   transition: all .2s ease-in-out;
   font-family: 'BigNoodleTitling';
   font-size: 3vh;
   font-weight: bold;
   margin: 0.1vh 0vh;
}

.report-button:hover {
   box-shadow: 0px 5px $facebook, 0px 10px $spotify, 0px 15px $tinder-static;
   background: white;
   color: black;
}
