@import '../_globalvariables.scss';

#footer {
   // position: absolute;
   // bottom: 0;
   border-top: 1px solid fade-out($bg-color, 0.9);
   padding-top: 1em;
   height: 60px; /* Height of the footer */
   width: 100%;
   text-align: center;
   margin-top: 10vh;
   background: $off-black;
   color: $off-white;

   a, a:visited {
     color: $off-white;
   }
}
