@import '../abstracts/globalvariables';
@import '../abstracts/_mixins.scss';

.instruction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slideshow-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
}

.slide-card-container {
   @include box-shadow(#ccc, 4px);

   width: 100%;

   img {
      width: 100%;
      height: auto;
   }
}

.slide-card {
  display: none;
  background: darken($card-bg-color, 5);
}

.slide-card-text {
  height: 10%;
  text-align: left;
  padding: 0 0.5em 1em 0.5em;
}

.step-indicator {
  color: lighten($text-color, 50%);
  width: 95%;
  text-align: center;
  font-size: 0.85em;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.prev-btn, .next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0.5em;
  width: 5%;
  transition: all 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.ins-btn-image {
  min-width: 50px;
}

.prev-btn:hover, .next-btn:hover {
  @media screen and (min-width: $screen-lg-min) {
    img {
      transform: scale(1.5);
    }
  }
}

.slide-dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  @media screen and (min-width: $screen-lg-min) {
    height: 15px;
    width: 15px;
  }
}

.slide-dot-active, .slide-dot:hover {
  background-color: #717171;
}

.dot-container { 
  margin-top: 1vh;
}
