@import '../fonts';
@import '../abstracts/globalvariables';

header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

nav {
  // make nav unselectable. Not sure if needed
  // -webkit-tap-highlight-color: transparent;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

  // width: 20vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  left: -5px;
  top: 1em;
  padding-right: 1em;
}

.nav-item {
  border-radius: 5px;
  pointer-events: all;
  background: $bg-color;
  color: white;
  width: auto;
  text-align: right;
  font-family: 'BigNoodleTitling';
  padding-left: 55px;
  padding-right: 20px;
  transition: all .5s ease-in-out;
  // font-size: 1em;

  @media screen and (min-width: $screen-lg-min) {
    font-size: 2em;
  }
}

.nav-sub-item {
  margin-top: 0.5em;
  min-width: 150px;
  max-width: 240px;
  margin-right: 75px;
  color: white;
}

.nav-sub-item:visited {
  color: white;
}

.nav-logo {
  width: 250px;

  @media screen and (min-width: $screen-lg-min) {
    width: 330px;
  }
}

#logo {
  width: 100%;
  height: 100%;
  display: flex;
  fill: white;
}

.nav-item:hover {
  @media screen and (min-width: $screen-sm-min) {
    background: fade-out($color: #000000, $amount: 0.5);
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
  }
}

// only the menu button shows
.nav-discrete {
  transform: translateX(-250px);

  @media screen and (min-width: $screen-lg-min) {
    transform: translateX(-310px);
  }
}

// all of nav is opened, triggered by click
// .nav-expanded {
//   transform: translateX(-5vw);
// }

// whole nav bar is off to the side
.nav-hidden {
  transform: translateX(-100%);
}
