<footer class='footer'>
  <div class='footer-top'>
    <div class='footer-menus'>
      <div class='footer-menus-menu'>
        <div class='footer-menus-menu-heading'>Menu</div>
        <ul class='footer-menus-menu-list'>
          <li><a href='/'>Home</a></li> 
          <li><a href='/#about'>About</a></li> 
          <li><a href='/credits.html'>Site Credits</a></li> 
        </ul>
      </div>
      <div class='footer-menus-menu'>
        <div class='footer-menus-menu-heading'>Personal Data Menu</div>
        <ul class='footer-menus-menu-list'>
          <li><a href='/facebook.html'>Facebook</a></li> 
          <li><a href='/spotify.html'>Spotify</a></li> 
          <li><a href='/tinder.html'>Tinder</a></li> 
        </ul>
      </div>
      <div class='footer-menus-menu'>
        <div class='footer-menus-menu-heading'>Contact us</div>
        <div class=''><a href='mailto:contact@dataforme.xyz'>contact@dataforme.xyz</a></div>
        <div class='footer-social-icons'>
          <a href='https://github.com/shukerov/dataforme' target='blank'><div class='footer-icon' id='github'></div></a>
          <a href='https://reddit.com/r/dataforme' target='blank'><div class='footer-icon' id='reddit'></div></a>
        </div>
      </div>
    </div>
  </div>
  <div class='footer-middle'>
    <div class='footer-logo'>DATAFORME<span class='footer-logo-icon'></span></div> 
  </div>
  <div class='footer-bottom'>
    <div>Created By <a href='https://shukerov.com' target='blank' class='footer-highlight'>Stoyan Shukerov</a></div>
    <div>© 2020 Copyright</div>
  </div>
</footer>

