@import '../../assets/styles/abstracts/_globalvariables.scss';
@import '../../assets/styles/main.scss';

#site {
  background: $facebook;
}

#preview-btn {
  background: $facebook;
}

#preview-btn:hover {
  color: $facebook;
  background: $off-white;
  border: 1px solid $facebook;
}

#report {
   display: grid;
   width: 100%;
}

#graphs-container-searches {
   margin-top: 2em;
   display: grid;
   grid-gap: 10px;
   grid-area: graphs;
   grid-template-columns: minmax(0, 1fr);
   grid-template-areas:
     'top-searches'
     'hourly'
     'yearly';

   @media only screen and (min-width: $screen-lg-min) {
     grid-template-rows: repeat(2, 1fr);
     grid-template-columns: repeat(2, minmax(0, 1fr));
     grid-template-areas:
       'top-searches top-searches'
       'hourly yearly';
   }
}

#graphs-container-reactions {
   margin-top: 2em;
   display: grid;
   grid-gap: 10px;
   grid-area: graphs;
   grid-template-columns: minmax(0, 1fr);
   grid-template-areas:
     'hourly'
     'yearly';

   @media only screen and (min-width: $screen-lg-min) {
     grid-template-columns: repeat(2, minmax(0, 1fr));
     grid-template-areas:
       'hourly yearly';
   }
}

#search-graph1 {
  grid-area: top-searches;
}

#search-graph2 {
  grid-area: hourly;
}

#search-graph3 {
  grid-area: yearly;
}

#reaction-graph1 {
  grid-area: hourly;
}

#reaction-graph2 {
  grid-area: yearly;
}

#graphs-container-messages, #graphs-container-posts {
  margin-top: 2em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(0, 1fr);

  @media only screen and (min-width: $screen-lg-min) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media only screen and (min-width: $screen-xl-min) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

#graphs-container-posts  {
  grid-template-areas:
    'clk-post-sent'
    'clk-post-rec'
    'post-weekly'
    'post-monthly'
    'post-yearly'
    'post-cumulative';

  @media only screen and (min-width: $screen-lg-min) {
    grid-template-areas:
      'clk-post-sent clk-post-rec'
      'post-weekly post-monthly'
      'post-yearly post-cumulative';
  }

  @media only screen and (min-width: $screen-xl-min) {
    grid-template-areas:
      'post-weekly post-monthly post-yearly'
      'clk-post-sent post-cumulative clk-post-rec';
  }
}

#graphs-container-messages {
  grid-template-areas:
    'clk-sent'
    'clk-rec'
    'weekly'
    'monthly'
    'yearly'
    'cumulative'
    'top-msgers';

  @media only screen and (min-width: $screen-lg-min) {
    grid-template-areas:
      'clk-sent clk-rec'
      'weekly monthly'
      'yearly cumulative'
      'top-msgers top-msgers';
  }

  // grid-template-rows: repeat(3, 1fr);
  @media only screen and (min-width: $screen-xl-min) {
    grid-template-areas:
      'weekly monthly yearly'
      'clk-sent cumulative clk-rec'
      'top-msgers top-msgers top-msgers';
  }
}


// naming grid areas of message graphs.
#msg-graph1 {
  grid-area: clk-sent;
}

#msg-graph2 {
  grid-area: clk-rec;
}

#msg-graph3 {
  grid-area: weekly;
}

#msg-graph4 {
  grid-area: monthly;
}

#msg-graph5 {
  grid-area: yearly;
}

#msg-graph6 {
  grid-area: cumulative;
}

#msg-graph7 {
  grid-area: top-msgers;
}

// naming grid areas of post graphs.
#post-graph1 {
  grid-area: clk-post-sent;
}

#post-graph2 {
  grid-area: clk-post-rec;
}

#post-graph3 {
  grid-area: post-weekly;
}

#post-graph4 {
  grid-area: post-monthly;
}

#post-graph5 {
  grid-area: post-yearly;
}

#post-graph6 {
  grid-area: post-cumulative;
}

// overwriting common report styles
.report-list-list-item {
  color: $off-white;
  background: #6f85f8;
}
