@import '../../assets/styles/abstracts/_globalvariables.scss';
@import '../../assets/styles/main.scss';

#site {
  background: $tinder;
}

#preview-btn {
  background: $tinder;
}

#preview-btn:hover {
  color: $tinder-static;
  background: $off-white;
  border: 1px solid $tinder-static;
}

#graphs-container-matches {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  // forces heatgraphs to take up full width... (move to JS?)
  .graph-wrapper:nth-child(n+3) {
    grid-column: 1/-1;

    .chart-container {
      margin: 0 auto;
    }
        
  }

  @media screen and (min-width: $screen-lg-min) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


#graphs-container-usage {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  // .graph-wrapper {
  //   overflow: auto;
  // }

  .chart-container {
    margin: 0 auto;
  }
}

.report-item-big-icon-list {
  @media screen and (min-width: $screen-lg-min) {
    grid-template-columns: repeat(3, 1fr);
  }
}
