@font-face {
   font-family: 'Fira';
   src:  url('./fonts/FiraSans-Regular.ttf') format('truetype'),
         url('./fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'BigNoodleTitling';
   src:  url('./fonts/BigNoodleTitling.ttf') format('truetype');
}

