@import './_globalvariables.scss';
// .fb-container {
//    display: flex;
//    flex-direction: column;
//    margin: 0 auto;
//    max-width: 80%;
//    align-items: center;
// }

#instructions-container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 60%;
   // align-items: center;
   height: 100vh;
}

// new CSS
#report-heading {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 80%;
   margin: 0 auto;
}

#report-heading-title {
   display: flex;
   flex-direction: row;
   width: 100%;
   border-bottom: 1px solid black;
}

#report-heading-title > * {
   flex: 1;
}

// #report-heading-user-name {
//    // width: 80%
// }

#report-heading-user-picture {
   height: 100px;
   width: 100px;
   // background: $facebook;
   // background: url('../images/icons/facebook.svg');
}

#report-heading-content {
   display: flex;
   flex-direction: column;
   flex-basis: 60%;
}

.heading-content-item {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.heading-content-icon {
   width: 24px;
   height: 24px;
   flex: 0.1;
}

.heading-content-label {
   flex: 0.2;
}

.heading-content-text {
   flex: 0.7;
   text-align: left;
   margin: 0 1vh;
}

#report-controls {
   display: flex;
   flex-direction: row;
   flex-basis: 40%;
}

.report-button {
   flex: 1;
   background: black;
   color: white;
   text-decoration: none;
   border: none;
   transition: all .2s ease-in-out;
   font-family: 'BigNoodleTitling';
   font-size: 3vh;
   font-weight: bold;
   margin: 0.1vh 0vh;
}

.report-button:hover {
   box-shadow: 0px 5px $facebook, 0px 10px $spotify, 0px 15px $tinder-static;
   background: white;
   color: black;
}
// END NEW

#report {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}


#general-text {
   display: flex;
   flex-direction: column;
   justify-content: center;

   p {
      text-align: center;
   }
}

#btn-container {
   display: flex;
   justify-content: center;
}

.report-btn {
   background-color: white;
   border: 2px solid #7cd6fd;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 0vh 5vh;
   transition-duration: 0.4s;
   -webkit-transition-duration: 0.4s; /* Safari */
}

.report-btn:hover {
  background-color: #7cd6fd;
  color: white;
}

// this is still facebook but filepicker specific
.file-picker {
   width: 50vh;
   height: 20vh;
   border: 2px solid black;
   border-radius: 9px;
   margin: 0 auto;
   // background: red;


   label {
      margin: 1vh;
      text-align: center;
      // display: none;
   }

   #file-picker-input {
      width: 100%;
      height: 100%;
      text-align: center;
      cursor: pointer;
      align-items: center;
   }
}

.file-picker-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
}

// this is still facebook but graph specific
#graphs-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80%;
   margin: 0 auto;
}

.graph-wrapper {
   // display: flex;
   // flex-direction: column;
   border-style: solid;
   border-color: #ebebeb;
   background: #fff;
   margin: 5vh 0vh;
   // margin: 2.5vh 10vh;
   // width: 25%
}
