@import './_globalvariables.scss';
@import './main.scss';

#report {
   min-height: 100vh;
}

#nav-preview-item {
  background: $facebook;
}

#instructions-container {
  //  display: flex;
  //  flex-direction: column;
  //  margin: 0 auto;
  //  max-width: 60%;
  //  min-height: 100vh;
}

#instructions-text {
   // min-height: 90vh;
}

#report {
   display: grid;
   width: 100%;
}

// new graph experiments
#graphs-container-searches {
   @media only screen and (max-width: 900px) {
       grid-template-columns: 1fr;
       grid-template-areas:
       'top-searches'
       'hourly'
       'yearly'
   }

   display: grid;
   grid-gap: 10px;
   grid-area: graphs;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(2, minmax(150px, 1fr));
   grid-template-areas:
     'top-searches top-searches'
     'hourly yearly'
}

#graphs-container-reactions {
   @media only screen and (max-width: 900px) {
       grid-template-columns: 1fr;
       grid-template-areas:
       'hourly'
       'yearly'
   }

   display: grid;
   grid-gap: 10px;
   grid-area: graphs;
   grid-template-columns: repeat(2, minmax(150px, 1fr));
   grid-template-areas:
     'hourly yearly'
}
#gs0 {
  grid-area: top-searches;
}

#gs1 {
  grid-area: hourly;
}

#gs2 {
  grid-area: yearly;
}

#gr0 {
  grid-area: hourly;
}

#gr1 {
  grid-area: yearly;
}

#graphs-container-messages, #graphs-container-posts {
  @media only screen and (max-width: 1224px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

#graphs-container-posts  {
  @media only screen and (max-width: 1224px) {
    grid-template-areas:
      'clk-sent clk-rec'
      'weekly monthly'
      'yearly cumulative'
  }

  @media only screen and (max-width: 900px) {
    grid-template-areas:
      'clk-sent'
      'clk-rec'
      'weekly'
      'monthly'
      'yearly'
      'cumulative'
  }

  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'weekly monthly yearly'
    'clk-sent cumulative clk-rec'
}

#graphs-container-messages {
  @media only screen and (max-width: 1224px) {
    grid-template-areas:
      'clk-sent clk-rec'
      'weekly monthly'
      'yearly cumulative'
  }

  @media only screen and (max-width: 900px) {
    grid-template-areas:
      'clk-sent'
      'clk-rec'
      'weekly'
      'monthly'
      'yearly'
      'cumulative'
      'top-msgers'
  }

  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'weekly monthly yearly'
    'clk-sent cumulative clk-rec'
    'top-msgers top-msgers top-msgers'
}


#g0 {
  grid-area: clk-sent;
}

#g1 {
  grid-area: clk-rec;
}

#g2 {
  grid-area: weekly;
}

#g3 {
  grid-area: monthly;
}

#g4 {
  grid-area: yearly;
}

#g5 {
  grid-area: cumulative;
}

#g6 {
  grid-area: top-msgers;
}

.graph-wrapper {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 1fr;
}

.graph-title {
  font-size: 15px;
  text-align: center;
}

.graph-conclusion {
  font-size: 14px;
  text-align: center;
}
