@import './_globalvariables.scss';

#report {
   min-height: 100vh;
}

#instructions-container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 60%;
   // align-items: center;
   min-height: 100vh;
   // height: auto;
}

#instructions-text {
   min-height: 90vh;
}

// links to start of report on instructions page
#report-btn {
   // height: 10%;
   // height: 10%;
   text-align: center;
   // margin-top: 36vh;
}

#report {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}

// this is still facebook but graph specific
// #graphs-container {
//    display: flex;
//    flex-direction: row;
//    flex-wrap: wrap;
//    justify-content: center;
//    width: 80%;
//    margin: 0 auto;

//    @media only screen and (max-width: 1000px) {
//       width: 95%;
//    }
// }

// .graph-wrapper {
//    background: #fff;
//    margin: 5vh 5vh;
//    width: 70%;
//    box-shadow: 0 0 3px #ccc;
//    -moz-box-shadow: 0 0 3px #ccc;
//    -webkit-box-shadow: 0 0 3px #ccc;

//    @media only screen and (max-width: 1000px) {
//       width: 90%;
//    }
// }

// new graph experiments
#graphs-container {
   margin: 0 5vh;
   display: grid;
   grid-gap: 40px;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(6, 1fr);
   grid-template-areas:
    'clk-sent weekly'
    'clk-sent weekly'
    'clk-sent monthly'
    'clk-rec monthly'
    'clk-rec yearly'
    'clk-rec yearly'
}

#g0 {
  grid-area: clk-sent;
}

#g1 {
  grid-area: clk-rec;
}

#g2 {
  grid-area: weekly;
}

#g3 {
  grid-area: monthly;
}

#g4 {
  grid-area: yearly;
}

.graph-wrapper {
  width: 100%;
  height: 100%;
  // display: flex;
  // align-items: center;
  // width: 600px;
   background: #fff;
   box-shadow: 0 0 3px #ccc;
   -moz-box-shadow: 0 0 3px #ccc;
   -webkit-box-shadow: 0 0 3px #ccc;
}
