@font-face {
   font-family: 'BigNoodleTitling';
   src:  url('./fonts/BigNoodleTitling.ttf') format('ttf');
}

$facebook: #3b5998;
$spotify: #1cd95e;
$tinder: linear-gradient(262deg, #ff7854, #fd267d);

// upper half of the page
#website-cnt {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#website {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.website-item {
   flex: 1;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .2s ease-in-out;
   overflow: hidden;
}

.website-item:hover {
   flex: 1.1;

   img {
      transform: scale(1.1);
   }
}

/* Flex Children */
.website-item > * {
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 0 auto;
}

#facebook {
   background: $facebook;
}

#spotify {
   background: $spotify;
}

#tinder {
   background: $tinder;
}

// spacer
.spacer {
   width: 100%;
   height: 5%;
   background: black;
}


// about page
#about {
   font-size: 1.1em;
   line-height: 1.9;
   height: 100vh;
}

.about-content-container {
   display: flex;
   flex-direction: column;
   max-width: 50%;
   margin: 0 auto;
}

