@import './globalvariables';
@import './main.scss';
@import 'fonts';

$tranSpeed: 0.75s;

// upper half of the page
#website-cnt {
   height: 100vh;
   display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;

  @media only screen and (min-width: $screen-lg-min) {
    flex-direction: row;
  }
}

.website-item {
   flex: 1;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all tranSpeed ease-in-out;
   overflow: hidden;
}

/* Flex Children */
.website-item > * {
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 0 auto;

   svg {
        width: 10vh;
        height: 10vh;
      fill: white;
   }
}

.website-item:hover {
   // flex-shrink: 1.1;

   svg {
   transition: all $tranSpeed ease-in-out;
      transform: scale(2);
   }
}

#facebook {
   background: $facebook;
}

#facebook:hover {
   // background: white;
   svg {
           // fill: $facebook;
           fill: white;
   }
}

#spotify {
   background: $spotify;
}

#spotify:hover {
   // background: white;

   svg {
           // fill: $spotify;
           fill: white;
   }
}

#tinder {
   background: $tinder;
}

#tinder:hover {
   // background: white;

   svg {
        // fill: $tinder-static;
       fill: white;
   }
}

// about page
#about {
   overflow: auto;
   height: auto;
   // height: 100vh;
}

.about-content-heading {
  display: inline-block;
  margin: 4em 0 2em 0;
  background: $bg-color;
  color: white;
  text-align: left;
  padding-right: 1em;
  font-family: 'BigNoodleTitling';
  height: 4rem;
  padding-left: 10%;

  // pseduo element
  position: relative;

  @media only screen and (min-width: $screen-md-min) {
    // max-width: 30%;
    padding-left: 15%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    padding-left: 20%;
  }
}

.about-content-heading::after {
  position: absolute;
  bottom: 0;
  right: -0.9rem;
  content: "";
  border-right: 1rem solid transparent;
  border-top: 2rem solid $bg-color;
  border-bottom: 2rem solid $bg-color;
}

.about-content {
  max-width: 80%;
  margin: 0 auto;

  @media only screen and (min-width: $screen-md-min) {
    max-width: 70%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    max-width: 60%;
  }
}
