@import './globalvariables';

$tranSpeed: 0.75s;

@font-face {
   font-family: 'BigNoodleTitling';
   src:  url('./fonts/BigNoodleTitling.ttf') format('ttf');
}

// upper half of the page
#website-cnt {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#website {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.website-item {
   flex: 1;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all tranSpeed ease-in-out;
   overflow: hidden;
}

/* Flex Children */
.website-item > * {
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 0 auto;

   svg {
        width: 10vh;
        height: 10vh;
      fill: white;
   }
}

.website-item:hover {
   // flex: 1.1;

   svg {
   transition: all $tranSpeed ease-in-out;
      transform: scale(2);
   }
}

#facebook {
   background: $facebook;
}

#facebook:hover {
   background: white;
   svg {
           fill: $facebook;
   }
}

#spotify {
   background: $spotify;
}

#spotify:hover {
   background: white;

   svg {
           fill: $spotify;
   }
}

#tinder {
   background: $tinder;
}

#tinder:hover {
   background: white;

   svg {
        fill: $tinder-static;
   }
}

// about page
#about {
   overflow: auto;
   height: auto;
   // height: 100vh;
}

.about-content-container {
   display: flex;
   flex-direction: column;
   max-width: 50%;
   margin: 0 auto;
}

