@import 'normalize';
@import './globalvariables';

html {
   height: 100%;
   font-size: 1.1em;
   line-height: 1.9;
   font-family: 'Fira', Camphor, Open Sans, Segoe UI, sans-serif;
   scroll-behavior: smooth;
}

body {
  // overflow: auto;
}

a, a:visited {
  text-decoration: none;
  // color: $text-color;
}

@import 'fonts';
@import 'components/navbar.scss';
@import 'components/footer.scss';

#site {
   min-height: 100vh;
   // height: 100vh;
   // height: auto;
   background: #f9f9f9;
   overflow: auto;
}

// spacer
.spacer {
   width: 100%;
   height: 5vh;
   background: $bg-color;
}

// maybe a different file for web-service common elements
.service-content {
  max-width: 95%;
  margin: 0 auto;
}

.card-heading {
  margin: 1em 0.5em;
  text-align: center;

  @media only screen and (min-width: $screen-md-min) {
    // text-align: left;
  }

}

.card {
   width: 90%;
   margin: 5vh auto;
   background: $card-bg-color;
}

.card-text {
   margin: 0 1rem;
}

#website-icon {
  margin: 1em auto;
  max-width: 200px;
  svg {
    fill: white;
    height: 200px;
  }
}

