@import 'normalize';
@import './abstracts/_mixins.scss';
@import './globalvariables';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;

//   a, a:visited {
//     text-decoration: none;
//   }
}

html {
   height: 100%;
   font-size: 1.1em;
   line-height: 1.9;
   font-family: 'Fira', Camphor, Open Sans, Segoe UI, sans-serif;
   scroll-behavior: smooth;
}

body {
  // overflow: auto;
}

a, a:visited {
  text-decoration: none;
  // color: $text-color;
}

@import 'fonts';
@import 'components/navbar.scss';
@import 'components/footer.scss';

#site {
   min-height: 100vh;
   // height: 100vh;
   // height: auto;
   background: #f9f9f9;
   overflow: auto;
   position: relative;
   z-index: 0; // enable stack context
}

// spacer
.spacer {
   width: 100%;
   height: 5vh;
   background: $bg-color;
}

// maybe a different file for web-service common elements
// .service-content {
//   max-width: 95%;
//   margin: 0 auto;
// }

.card-heading {
  margin: 0 0.5em;
  padding: 1em 0;
  text-align: center;

  @media only screen and (min-width: $screen-md-min) {
    // text-align: left;
  }

}

.card::before {
  position: absolute;
  z-index: -1;
  top: -2.5em;
  left: 50%;
  transform: translateX(-50%);
  background: $card-bg-color;
  padding: 1em 1em 0.5em 1em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  @include box-shadow($card-boxshadow-color, $card-boxshadow-size);
}

#step-1::before {
  content: "Step 1";
}

#step-2::before {
  content: "Step 2";
}

#step-3::before {
  content: "Step 3";
}

.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 90%;
  margin: 20vh auto;
  background: $card-bg-color;
  padding: 1em;
  text-align: center;
  @include box-shadow($card-boxshadow-color, $card-boxshadow-size);
}

.card-text, .card-label, .card-highlight, .card-list {
   margin: 0.5rem 1rem;
   text-align: left;

   @media screen and (min-width: $screen-md-min) {
     margin-left: 3rem;
   }

   @media screen and (min-width: $screen-lg-min) {
     margin-left: 5rem;
   }
}

.card-label {
  font-weight: 600;
  margin: 2rem 1rem 1rem 1rem;
   @media screen and (min-width: $screen-md-min) {
     margin-left: 3rem;
   }

   @media screen and (min-width: $screen-lg-min) {
     margin-left: 5rem;
   }
}

// .card-highlight {
//   margin: 0.5rem 1rem;
//   text-align: left;
//   @media screen and (min-width: $screen-md-min) {
//     margin-left: 3rem;
//   }
// }

.card-hint-desktop {
  display: none;

  @media screen and (min-width: $screen-md-min) {
    display: block;
  }
}

.card-hint {
  font-size: 0.8em;
  font-weight: 350;
}

.card-hint::before {
  content: "Hint: ";
  font-weight: 700;
}

// .card-list {
//    text-align: left;

//    @media screen and (min-width: $screen-md-min) {
//      margin: 0.5em 3em;
//    }
// }

#website-icon {
  margin: 1.5em auto 5em auto;
  max-width: 200px;
  svg {
    fill: white;
    height: 200px;
  }
}

.preview-btns {
  text-align: center;
  display:inline-block;
  padding: 0.75em 1em;
  margin: 1em 1em 0 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  color: $off-white;
  background: $off-black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
