@import 'normalize';
@import './abstracts/_mixins.scss';
@import './globalvariables';

// * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;

//   a, a:visited {
//     text-decoration: none;
//   }
// }

html {
   height: 100%;
   font-size: 1.1em;
   line-height: 1.9;
   font-family: 'Fira', Camphor, Open Sans, Segoe UI, sans-serif;
   scroll-behavior: smooth;
}

body {
  // overflow: auto;
}

a, a:visited {
  text-decoration: none;
  // color: $text-color;
}

@import 'fonts';
@import 'components/navbar.scss';
@import 'components/footer.scss';

#site {
   min-height: 100vh;
   // height: 100vh;
   // height: auto;
   background: #f9f9f9;
   overflow: auto;
}

// spacer
.spacer {
   width: 100%;
   height: 5vh;
   background: $bg-color;
}

// maybe a different file for web-service common elements
// .service-content {
//   max-width: 95%;
//   margin: 0 auto;
// }

.card-heading {
  margin: 0 0.5em;
  padding: 1em 0;
  text-align: center;

  @media only screen and (min-width: $screen-md-min) {
    // text-align: left;
  }

}

.card::before {
  position: absolute;
  top: -2.5em;
  left: 50%;
  transform: translateX(-50%);
  background: darken($card-bg-color, 4);
  padding: 1em 1em 0.5em 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  border-style: solid;
  border-color: darken($card-bg-color, 50);
  border-width: 1px 1px 0px 1px;
}

#step-1::before {
  content: "Step 1";
}

#step-2::before {
  content: "Step 2";
}

#step-3::before {
  content: "Step 3";
}

.card {
  position: relative;
  width: 90%;
  margin: 20vh auto;
  background: $card-bg-color;
  @include box-shadow($card-boxshadow-color, $card-boxshadow-size);
}

.card-text {
   margin: 0 1rem;
}

#website-icon {
  margin: 1.5em auto 5em auto;
  max-width: 200px;
  svg {
    fill: white;
    height: 200px;
  }
}

