@import '../../assets/styles/abstracts/_globalvariables.scss';
@import '../../assets/styles/main.scss';

#site {
  background: $spotify;
}

#preview-btn {
  background: $spotify;
}

#preview-btn:hover {
  color: $spotify;
  background: $off-white;
  border: 1px solid $spotify;
}

#graphs-container-streaming {
  display: grid;

  @media screen and (min-width: $screen-md-min) {
    grid-template-areas:
      'hourly hourly'
      'weekly monthly'
  }

  grid-template-areas:
   'hourly'
   'weekly'
   'monthly'
}

#stream-graph1 {
  grid-area: hourly;
}

#stream-graph2 {
  grid-area: weekly;
}

#stream-graph3 {
  grid-area: monthly;
}

.graph-wrapper:nth-child(n+3) {
  grid-column: 1 / -1;

  .chart-container {
    margin: 0 auto;
  }
}
