@import '../../assets/styles/abstracts/_globalvariables.scss';
@import '../../assets/styles/main.scss';
@import '../../assets/styles/fonts';

$tranSpeed: 0.5s;

// UPPER HALF OF THE PAGE
// ---------------------------------------------------------------------------
#website-cnt {
  position: relative;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $screen-lg-min) {
    flex-direction: row;
  }
}

// spacer
.spacer {
  height: 2vh;
  width: 100%;
  background: $bg-color;
}

.website-item {
   flex: 1;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   // transition: all tranSpeed ease-in-out;
   overflow: hidden;
}

/* Flex Children */
.website-item > * {
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 0 auto;

   svg {
     width: 10vh;
     height: 10vh;
     fill: white;
     transition: all $tranSpeed ease-in-out;
   }
}

.website-item:hover {
   // flex-shrink: 1.1;

   svg {
     transition: all $tranSpeed ease-in-out;
     transform: scale(2);
   }
}

#facebook {
   background: $facebook;
}

#facebook:hover {
   // background: white;
   svg {
           // fill: $facebook;
           fill: white;
   }
}

#spotify {
   background: $spotify;
}

#spotify:hover {
   // background: white;

   svg {
           // fill: $spotify;
           fill: white;
   }
}

#tinder {
   background: $tinder;
}

#tinder:hover {
   // background: white;

   svg {
        // fill: $tinder-static;
       fill: white;
   }
}

// SCROLL DOWN CTA
// ---------------------------------------------------------------------------
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  33% {
    opacity: 1;
    transform: translateY(0%);
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.scroll-down-indicator {
  position: absolute;
  bottom: 0;
}

.scroll-down-icon {
  background-image: url("../../assets/images/components/chevron-down.svg");
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: auto;
  animation: fadeInOut 0.75s ease-in-out;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: both;

  @media only screen and (min-width: $screen-md-min) {
    height: 50px;
    width: 50px;
  }

  @media only screen and (min-width: $screen-lg-min) {
    height: 60px;
    width: 60px;
  }
}

.scroll-down-text {
  animation: popIn 3s ease-in-out;
  animation-fill-mode: both;
  margin: 0;
  color: $off-white;
  font-size: 0.75em;
  font-weight: 500;

  @media only screen and (min-width: $screen-md-min) {
    font-size: 1.0em;
  }

  @media only screen and (min-width: $screen-lg-min) {
    font-size: 1.5em;
  }
}

// LOWER HALF OF THE PAGE
// ---------------------------------------------------------------------------
$header-bg-color: black;
$header-color: white;
$about-bg-color: $site-bg-color;

#lottie-index-animation {
  // height: 100%;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;

  background: $about-bg-color;
  font-size: 19px; 

   a  {
     color: $text-important;
   }

   a:visited {
     color: darken($text-important, 5%);
   }

  &-heading {
    background: $header-bg-color;
    color: $header-color;
    text-align: left;
    font-family: 'BigNoodleTitling';
    margin: 45px 0 20px 0;
    font-size: 2em;

    &:nth-of-type(odd) {
      align-self: flex-start;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 0 15px 0 10%;

      @media only screen and (min-width: $screen-lg-min) {
        padding: 0 15px 0 15%;
      }

      // @media only screen and (min-width: $screen-lg-min) {
      //   padding: 0 15px 0 20%;
      // }
    }

    &:nth-of-type(even) {
      align-self: flex-end;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 0 10% 0 15px;

      @media only screen and (min-width: $screen-lg-min) {
        padding: 0 15% 0 15px;
      }

      // @media only screen and (min-width: $screen-lg-min) {
      //   padding: 0 20% 0 15px;
      // }
    }
  }

  &-content {
    display: grid;
    align-items: center;
    margin: 75px auto;
    width: 80%;

    // TODO: use a class here..
    img {
      width: 100%;
    }

    @media only screen and (min-width: $screen-lg-min) {
      width: 70%;
      grid-column-gap: 100px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      // grid-template-rows: repeat(2, minmax(0, 1fr));
    }
  }

  &-text-full {
    grid-column: 1 / -1;
  }
      
}

// TODO: should be under about and renamed
.index-important {
  font-size: 1.2em;
  color: $text-important;
  font-weight: bold;
  grid-column: 1 / -1;

  // TODO: should not be media queries... just em and then change the font-size globally with a media query
  @media only screen and (min-width: $screen-md-min) {
    font-size: 1.5em;
  }

  @media only screen and (min-width: $screen-lg-min) {
    font-size: 1.75em;
  }
}

.three-parts {
  margin-bottom: 20px;

  @media only screen and (min-width: $screen-md-min) {
    div:nth-child(2) {
      margin-left: 10%;
    }

    div:nth-child(3) {
      margin-left: 20%;
    }
  }
}
em {
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
}

// for the insruction steps
$step-table-bg-color: #8c0a39;
$step-table-header-bg-color: #d81159;
$step-table-content-bg-color: #9e0e42;

.steps-table { 
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 10px;
  max-width: 1000px;

  @media only screen and (min-width: $screen-lg-min) {
    grid-template-columns: repeat(3, 1fr);
  }

  background: $step-table-bg-color;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
  position: relative;

  &:before {
    position: absolute;
    top: -35px;
    color: black;
    content: "A quick overview of the process.";
  }
  
  &-item:nth-child(-n + 2) {
   .steps-table-header:after {
      z-index: 1;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      border-top-right-radius: 3px;
      background-color: $step-table-header-bg-color;
      top: calc(50% - 10px);
      right: -9px;
    }
  }

  &-item:nth-child(n + 2) {
   .steps-table-header:before {
      z-index: 0;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      border-top-right-radius: 3px;
      background-color: $step-table-bg-color;
      top: calc(50% - 10px);
      left: -10px;
    }
  }

  &-header {
    padding: 10px 0;
    position: relative;
    background-color: $step-table-header-bg-color;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,.11), 0 1px 3px rgba(0,0,0,.1);
    margin-bottom: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
  }

  &-content {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.04);
    background: $step-table-content-bg-color;
    font-size: 0.9em;

    &-top {
      padding: 10px 40px;
      font-weight: 600;
      border-bottom: 2px solid $step-table-bg-color;
    }

    &-bottom {
      padding: 10px 40px;
    }
  }
}
