@import '../../assets/styles/abstracts/_globalvariables.scss';
@import '../../assets/styles/main.scss';
@import '../../assets/styles/fonts';

$tranSpeed: 0.75s;

// upper half of the page
#website-cnt {
  position: relative;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $screen-lg-min) {
    flex-direction: row;
  }
}

// spacer
.spacer {
  height: 2vh;
  width: 100%;
  background: $bg-color;
}

.website-item {
   flex: 1;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all tranSpeed ease-in-out;
   overflow: hidden;
}

/* Flex Children */
.website-item > * {
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 0 auto;

   svg {
        width: 10vh;
        height: 10vh;
      fill: white;
   }
}

.website-item:hover {
   // flex-shrink: 1.1;

   svg {
   transition: all $tranSpeed ease-in-out;
      transform: scale(2);
   }
}

#facebook {
   background: $facebook;
}

#facebook:hover {
   // background: white;
   svg {
           // fill: $facebook;
           fill: white;
   }
}

#spotify {
   background: $spotify;
}

#spotify:hover {
   // background: white;

   svg {
           // fill: $spotify;
           fill: white;
   }
}

#tinder {
   background: $tinder;
}

#tinder:hover {
   // background: white;

   svg {
        // fill: $tinder-static;
       fill: white;
   }
}

// about page
#about {
   overflow: auto;
   height: auto;

   a  {
     color: $text-important;
   }

   a:visited {
     color: darken($text-important, 5%);
   }
   // height: 100vh;
}

.about-content-heading {
  display: inline-block;
  background: $bg-color;
  color: white;
  text-align: left;
  font-family: 'BigNoodleTitling';

  margin: 4em 0 2em 0;
  padding-left: 10%;
  padding-right: 1em;
  height: 3rem;
  font-size: 1.5em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  // pseduo element
  position: relative;

  @media only screen and (min-width: $screen-md-min) {
    // max-width: 30%;
    padding-left: 15%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    padding-left: 20%;
    height: 4rem;
    font-size: 2em;
  }
}

.about-content {
  font-size: 19px; // TODO: possibly global?
  margin: 0 auto;

  @media only screen and (min-width: $screen-md-min) {
    max-width: 70%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    max-width: 60%;
  }
}

.index-important {
  font-size: 1.2em;
  color: $text-important;
  font-weight: bold;

  // TODO: should not be media queries... just em and then change the font-size globally with a media query
  @media only screen and (min-width: $screen-md-min) {
    font-size: 1.5em;
  }

  @media only screen and (min-width: $screen-lg-min) {
    font-size: 1.75em;
  }
}

em {
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
}

// scroll down CTA
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  33% {
    opacity: 1;
    transform: translateY(0%);
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.scroll-down-indicator {
  position: absolute;
  bottom: 0;
}

.scroll-down-icon {
  background-image: url("../../assets/images/components/chevron-down.svg");
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: auto;
  animation: fadeInOut 0.75s ease-in-out;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: both;

  @media only screen and (min-width: $screen-md-min) {
    height: 50px;
    width: 50px;
  }

  @media only screen and (min-width: $screen-lg-min) {
    height: 60px;
    width: 60px;
  }
}

.scroll-down-text {
  animation: popIn 3s ease-in-out;
  animation-fill-mode: both;
  margin: 0;
  color: $off-white;
  font-size: 0.75em;
  font-weight: 500;

  @media only screen and (min-width: $screen-md-min) {
    font-size: 1.0em;
  }

  @media only screen and (min-width: $screen-lg-min) {
    font-size: 1.5em;
  }
}


// for the insruction steps
$step-table-bg-color: #8c0a39;
$step-table-header-bg-color: #d81159;
$step-table-content-bg-color: #9e0e42;

.steps-table { 
  // width: 80%;
  display: grid;
  grid-gap: 10px;

  @media only screen and (min-width: $screen-lg-min) {
    grid-template-columns: repeat(3, 1fr);
  }

  background: $step-table-bg-color;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
  position: relative;
  
  &-item:nth-child(-n + 2) {
   .steps-table-header:after {
      z-index: 1;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      border-top-right-radius: 3px;
      background-color: $step-table-header-bg-color;
      top: calc(50% - 10px);
      right: -9px;
    }
  }

  &-item:nth-child(n + 2) {
   .steps-table-header:before {
      z-index: 0;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      border-top-right-radius: 3px;
      background-color: $step-table-bg-color;
      top: calc(50% - 10px);
      left: -10px;
    }
  }

  &-header {
    padding: 10px 0;
    position: relative;
    background-color: $step-table-header-bg-color;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,.11), 0 1px 3px rgba(0,0,0,.1);
    margin-bottom: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
  }

  &-content {
    border-radius: 4px;
    padding: 10px 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.04);
    background: $step-table-content-bg-color;
    font-size: 0.9em;
  }
      
}
