@import '../../assets/styles/_globalvariables.scss';
@import '../../assets/styles/main.scss';
@import '../../assets/styles/fonts';

$tranSpeed: 0.75s;

// upper half of the page
#website-cnt {
   height: 85vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   @media only screen and (min-width: $screen-md-min) {
   height: 87.5vh;
   }
  @media only screen and (min-width: $screen-lg-min) {
    flex-direction: row;
  }
}

// spacer
.spacer {
  height: 15vh;
  width: 100%;
  background: $bg-color;
  color: $off-white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'BigNoodleTitling';
  padding-top: 0.5em;
  line-height:1;

  @media only screen and (min-width: $screen-md-min) {
    font-size: 3em;
    height: 12.5vh;
  }
}

.website-item {
   flex: 1;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all tranSpeed ease-in-out;
   overflow: hidden;
}

/* Flex Children */
.website-item > * {
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 0 auto;

   svg {
        width: 10vh;
        height: 10vh;
      fill: white;
   }
}

.website-item:hover {
   // flex-shrink: 1.1;

   svg {
   transition: all $tranSpeed ease-in-out;
      transform: scale(2);
   }
}

#facebook {
   background: $facebook;
}

#facebook:hover {
   // background: white;
   svg {
           // fill: $facebook;
           fill: white;
   }
}

#spotify {
   background: $spotify;
}

#spotify:hover {
   // background: white;

   svg {
           // fill: $spotify;
           fill: white;
   }
}

#tinder {
   background: $tinder;
}

#tinder:hover {
   // background: white;

   svg {
        // fill: $tinder-static;
       fill: white;
   }
}

// about page
#about {
   overflow: auto;
   height: auto;
   // height: 100vh;
}

// TODO: make this global as you are reusing it on facebook page
.about-content-heading {
  display: inline-block;
  background: $bg-color;
  color: white;
  text-align: left;
  font-family: 'BigNoodleTitling';

  margin: 4em 0 2em 0;
  padding-left: 10%;
  padding-right: 1em;
  height: 3rem;
  font-size: 1.5em;

  // pseduo element
  position: relative;

  @media only screen and (min-width: $screen-md-min) {
    // max-width: 30%;
    padding-left: 15%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    padding-left: 20%;
    height: 4rem;
    font-size: 2em;
  }
}

.about-content-heading::after {
  position: absolute;
  bottom: 0;
  content: "";
  right: -0.5rem;
  border-right: 0.5rem solid transparent;
  border-top: 1.5rem solid $bg-color;
  border-bottom: 1.5rem solid $bg-color;

  @media only screen and (min-width: $screen-lg-min) {
    right: -0.9rem;
    border-right: 1rem solid transparent;
    border-top: 2rem solid $bg-color;
    border-bottom: 2rem solid $bg-color;
  }
}

.about-content {
  font-size: 19px; // TODO: possibly global?
  max-width: 80%;
  margin: 0 auto;

  @media only screen and (min-width: $screen-md-min) {
    max-width: 70%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    max-width: 60%;
  }
}

.index-important {
  font-size: 1.2em;
  color: $text-important;
  font-weight: bold;

  // TODO: should not be media queries... just em and then change the font-size globally with a media query
  @media only screen and (min-width: $screen-md-min) {
    font-size: 1.5em;
  }

  @media only screen and (min-width: $screen-lg-min) {
    font-size: 1.75em;
  }
}

em {
  text-transform: uppercase;
  font-style: normal;
}
