<!-- <div id="test"></div> -->
<nav id="nav">
  <ul id='nav-root'>
    <a href='/' id='nav-logo'>
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.38 15.95"><defs><style>.cls-1{font-size:6px;stroke:#ffffff;stroke-miterlimit:10;stroke-width:0.25px;font-family:BigNoodleTitling, BigNoodleTitling;}</style></defs><title>dataformelogo</title><text class="cls-1" transform="translate(0.73 8.07)">dataforme</text><text x="-5.31" y="-7.72"></text></svg>
    </a>
    <li class='nav-items'>
      <a href="/">Home</a>
    </li>
    <li class='nav-items'>
      <a href="/about.html">About</a>
    </li>
  </ul>
</nav>
