$facebook: #3b5998;
$spotify: #1cd95e;
$tinder: linear-gradient(262deg, #ff7854, #fd267d);
$tinder-static: #ff7854;
$accent_color1: #3b5998;
$off-black: #151515;
$off-white: white;

// media query variables
$screen-xs-min: 320px;    // landscape phones
$screen-sm-min: 576px;    // landscape phones
$screen-md-min: 768px;    // tablets
$screen-lg-min: 992px;    // desktops
$screen-xl-min: 1200px;   // large desktops

// card variables
$card-boxshadow-size: 4px;
$card-boxshadow-color: black;

// $bg-color: #151515;
$bg-color: #050404;
$text-color: #111111;
$text-important: #D81159;
$card-bg-color: #fafafa;
$card-on-card-bg-color: #efefef;
