@font-face {
   font-family: 'Fira';
   src:  url('../../assets/styles/fonts/FiraSans-Regular.ttf') format('truetype'),
         url('../../assets/styles/fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'BigNoodleTitling';
   src:  url('../../assets/styles/fonts/BigNoodleTitling.ttf') format('truetype');
}

